{% extends 'base.html' %}
{% load static%}
{% block title%}이벤트 리스트{% endblock %}
{% load debug_tags %}
{% block content %}
<div class="small_Menu_event" style="width: 600px;height: 50px;display: inline-block;">
  <div class="small_Menu_event1"style="float:left;">진행중</div>
  <div class="small_Menu_event1"style="float:left;">진행예정</div>
  <div class="small_Menu_event1"style="float:left;">진행종료</div>
</div>
{% if posts %}
  <div class="container3">
    {% for post in posts %}
      <div id = "container_event">
        <div id="content_event">
          <hr>
          {% if post.picture %}
            <img src="{{ post.picture.url }}" alt="">
          {% else %}
            <img src="{% static 'img/logo.png' %}" alt="">
          {% endif %}
          <h2 style="font-size: 20px;"><a href="{% url 'event:post' post.id %}">{{ post.title }}</a></h2>
          <p style="font-size: 13px;">{{ post.description }} </p>
          <br>
          <h4 style="font-size: 15px;">{{ post.start_date|default_if_none:"지금" }} ~ {{ post.end_date|default_if_none:"미정" }}</h4>
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}
{% if show_debug_data and posts %}
  <ul>
    {% for post in posts %}
      <li><a href="{% url 'event:post' post.id %}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
{% endif %}
{% endblock %}