{% extends 'base.html' %}
{% block title%}소분 리스트{% endblock %}
{% load render_helper %}
{% block content %}
  {% if post %}
    <div id="container_event_detail">
      <div id="title" style="width: 100%;">
        <h2 style="float: left; font-size: 35px;">{{ post.title }}</h2>
        <br>
        <p style="font-size: 12px; float: right"> {{ post.start_date|default_if_none:"지금" }} ~ {{ post.end_date|default_if_none:"미정" }} </p>
      </div>

      <div id="con" style="width: 100%; margin-top: 20px; float:left;">
        <hr>
          {% for line in post.description|render_image_tag:'src=[event_static]|style=width:100%;'|spliter:'[newline]' %}
            {% if line|is_empty_helper %}
              <p style="margin-top: 10px; text-align: left;">{{ line|safe }}</p>
              <br>
            {% endif %}
          {% endfor%}
        {% comment %} {% if post.picture %}
          <img src="{{ post.picture.url }}" alt="" style="width: 50%; height: 50%; margin-top: 20px;">
        {% endif %} {% endcomment %}
      </div>
    </div>
  {% endif %}
  <div style="clear: left" ></div>
  {% if debug and post and false%}
  <div>
    <p>Title : {{ post.title }}</p>
    <p>Description : {{ post.description }}</p>
    <p>User : {{ post.user }}</p>
    <p>Area: {{ post.area }}</p>
    <p>Category : {{ post.category }}</p>
    <p>Status: {{ post.status }}</p>
    <p>Is deleted : {{ post.is_deleted }}</p>
    <p>Created at : {{ post.created_at }}</p>
    <p>Updated at : {{ post.updated_at }}</p>
    <ul>
    {% for tag in post.tags.all %}
        <li>tag: {{ tag }}</li>
    {% endfor %}
    </ul>
    {% if post.picture %}
      <img src="{{ post.picture.url }}" alt="{{ post.picture }}" />
    {% endif%}
  </div>  
  {% endif %}
  
{% endblock %}