/***************** MAIN PAGE *****************/
* {
  margin-top: 0;
}
a {
  text-decoration: none;
  color: black;
}
nav ul {
  width: 100%;
  background-color: lightgray;
  list-style-type: none;
  padding-left: 20%;
  margin-top: 0;
}
nav ul li {
  display: inline-block;
}

.topnav {
  position: relative;
  margin-left: 50px;
}

/* 게시판,채팅 등 네비게이션바 항목들*/
.topnav_menu {
  padding: 16px 50px;
  font-size: 16px;
  cursor: pointer;
}
/* 드롭다운으로 들어갈 메뉴들 처리, display none으로 일단 숨겨줌*/
.dropdown_content {
  position: absolute;
  min-width: 500px;
  display: none;
}
/* 드롭다운 메뉴들 세부 설정*/
.dropdown_content a {
  color: black;
  text-decoration: none;
  padding: 7px 10px;
  text-align: center;
  border-radius: 30%;
  margin-right: 15px;
  margin-top: 10px;
  background-color: #dcdcdc;
}
/* 상단 메뉴 마우스 올릴 시 색 변환*/
.topnav_menu:hover {
  background-color: gray;
}
/* 드롭다운 항목에 hover 적용 */
.dropdown_content a:hover {
  background-color: gray;
}

.dropdown_content a {
  float: left;
}
/*이미지 크기 및 위치 조정*/
.imag {
  width: 45px;
  float: left;
  margin: 2px 30px;
}
/* 로그인/회원가입 */
.login {
  font-size: small;
  cursor: pointer;
}
.login_menu {
  padding: 10px;
}
.login:hover {
  background-color: gray;
}

/*검색*/
div.search {
  height: 40px;
  width: 400px;
  margin-top: 15px;
  margin-left: 5px; /*왜 안먹지??*/
  padding: 0;
  float: right;
}
.main_search {
  font-size: 15px;
  width: 325px;
  padding: 10px;
  border: 0px;
  float: left;
}
.s {
  width: 50px;
  height: 100%;
  float: right;
}

/*글쓰기*/
div.write {
  width: 80px;
  height: 42px;
  margin-top: 15px;
  float: right;
  margin-left: 10px;
}
.w {
  width: 100%;
  height: 100%;
}

/***************** 게시판 *****************/
* {
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/ /*로고 없어짐*/
}
#container_post {
  margin: 0 auto;
  width: 80%;
}
#content_post {
  width: 100%;
  height: 120px;
  background-color: white;
}
#content_post > img {
  width: 100px;
  height: 100px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  float: left;
}
#content_post > h2 {
  margin-top: 5px;
  float: clear;
}
#content_post > h2:hover {
  text-decoration: underline;
  color: #58ccff;
}
.container1 {
  margin-top: 20px;
}

.small_Menu_post {
  margin-left: 50px;
}
.small_Menu_post1 {
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 20px;
  font-size: 18px;
  margin-top: 15px;
  padding: 5px 5px;
  cursor: pointer;
  background-color: lightgray;
}
.post_wrapper {
  position: relative;
  min-height: 100%;
  padding-bottom: 240px;
}
.post_wrapper footer {
  position: absolute;
  bottom: 0;
}
/**********게시판(참여자입장)**********/
* {
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;             로고 자꾸 없어짐..*/
}
#container_postUser {
  margin: 30px auto;
  text-align: center;
  width: 80%;
}
#content_postUser {
  clear: both;
  margin: 0 auto;
  width: 80%;
}
.buyer_wrapper {
  position: relative;
  min-height: 100%;
  padding-bottom: 240px;
}
.buyer_wrapper footer {
  position: absolute;
  bottom: 0;
}

/********** 채팅 **********/
#container_chat {
  margin: 0 auto;
  width: 80%;
}
#content_chat {
  width: 100%;
  height: 120px;
  background-color: white;
}
#content_chat > img {
  width: 100px;
  height: 100px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  float: left;
}
#content_chat > h2 {
  margin-top: 5px;
  float: clear;
}
#content_chat > h2:hover {
  text-decoration: underline;
  color: #58ccff;
}

.container2 {
  margin-top: 20px;
}
.small_Menu_chat {
  margin-left: 50px;
}
.small_Menu_chat1 {
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 20px;
  font-size: 18px;
  margin-top: 15px;
  padding: 5px 5px;
  cursor: pointer;
  background-color: lightgray;
}
.chat_wrapper {
  position: relative;
  min-height: 100%;
  padding-bottom: 240px;
}

.chat_wrapper footer {
  position: absolute;
  bottom: 0;
}
/********** 채팅방 **********/
.chatwrap {
  margin: 30px auto;
  width: 80%; /* 폭 80으로 설정 후 margin auto  설정*/
}
.chatwrap i {
  font-size: 70px;
  float: left;
  margin-right: 10px;
}
.chatName h1 {
  margin: 0px;
}

.wrap {
  padding: 40px 0;
}
.wrap .chat_ch1,
.chat_ch2 {
  display: flex;
  align-items: flex-start;
  padding: 20px;
}
/* display가 inline-block이면은 textbox 크기 자동 설정됩니다 까먹지 말아요~~*/
.wrap .chat_ch1 .textbox,
.wrap .chat_ch2 .textbox {
  position: relative;
  display: inline-block;
  padding: 10px;
  margin-top: 7px;
  font-size: 17px;
  border-radius: 10px;
}
/* 가상 클래스 이용해서 말 풍선 꼬리 생성 기초작업 */
.wrap .chat_ch1 .textbox::before,
.wrap .chat_ch2 .textbox::before {
  position: absolute;
  display: block;
  top: 0;
  font-size: 1.5rem;
}
/* 왼쪽 말풍선 설정*/
.wrap .chat_ch1 .textbox {
  margin-left: 20px;
  background-color: #ddd;
}
/*왼쪽 말풍선 꼬리 생성*/
.wrap .chat_ch1 .textbox::before {
  left: -18px;
  content: "◀";
  color: #ddd;
}

/*오른쪽 말풍선 방향 전환*/
.wrap .chat_ch2 {
  flex-direction: row-reverse;
}
/* 네온 연두색으로 깔맞춤*/
.wrap .chat_ch2 .textbox {
  margin-right: 20px;
  background-color: #40f608;
  color: white;
}

.wrap .chat_ch2 .textbox::before {
  right: -15px;
  content: "▶";
  color: #40f608;
}
.chat_send_input {
  border-radius: 5px;
  border: none;
  width: 96%;
  display: inline-block;
  margin: 5px 10px;
}
.chat_send2 {
  display: inline-block;
  width: 90%;
  margin: 0px;
}

/******이벤트**************/
#container3 {
  margin: 0 auto;
  width: 80%;
}
#content_event {
  width: 100%;
  height: 120px;
  background-color: white;
}
#content_event > img {
  width: 100px;
  height: 100px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  float: left;
}
#content_event > h2 {
  margin-top: 5px;
  float: clear;
}
#content_event > h2:hover {
  text-decoration: underline;
  color: #58ccff;
}
#button {
  background-color: crimson;
  border: none;
  color: white;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  float: right;
}
.container3 {
  width: 80%;
  margin: 20px auto;
}
.small_Menu_event {
  margin-left: 50px;
}
.small_Menu_event1 {
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 20px;
  font-size: 18px;
  margin-top: 15px;
  padding: 5px 5px;
  cursor: pointer;
  background-color: lightgray;
}
.event_wrap {
  position: relative;
  min-height: 100%;
  padding-bottom: 240px;
}

.event_wrap footer {
  position: absolute;
  bottom: 0;
}
/************************이벤트 상세페이지 ******************/
#container_event_detail {
  margin: 0 auto;
  text-align: center;
  width: 80%;
  margin-top: 30px;
}
.event_wrapper {
  position: relative;
  min-height: 100%;
  padding-bottom: 600px;
}

.event_wrapper footer {
  position: absolute;
  bottom: 0;
}
/************************마이 페이지 ******************/
#container_mypage {
  margin: 0 auto;
  text-align: center;
  width: 80%;
}
#content_mypage {
  clear: both;
  margin: 0 auto;
  width: 80%;
}
.mypage_wrap {
  position: relative;
  min-height: 100%;
  padding-bottom: 240px;
}

.mypage_wrap footer {
  position: absolute;
  bottom: 0;
}
/************************찜 ******************/
#container_wishlist {
  margin: 20px auto;
  width: 80%;
}
#content_wishlist {
  width: 100%;
  height: 120px;
  background-color: white;
}
#content_wishlist > img {
  width: 100px;
  height: 100px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  float: left;
}
#content_wishlist > h2 {
  margin-top: 5px;
  float: clear;
}
#content_wishlist > h2:hover {
  text-decoration: underline;
  color: #58ccff;
}
#content_wishlist button {
  background-color: crimson;
  border: none;
  color: white;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  float: right;
}
.wishlist_wrapper {
  position: relative;
  min-height: 100%;
  padding-bottom: 240px;
}

.wishlist_wrapper footer {
  position: absolute;
  bottom: 0;
}
/******************거래내역*****************/
#container_history {
  margin: 50px auto;
  width: 80%;
}
#content_history {
  width: 100%;
  height: 120px;
  background-color: white;
}
#content_history > img {
  width: 100px;
  height: 100px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  float: left;
}
#content_history > h2 {
  margin-top: 5px;
  float: clear;
}
#content_history > h2:hover {
  text-decoration: underline;
  color: #58ccff;
}
.history_wrapper {
  position: relative;
  min-height: 100%;
  padding-bottom: 240px;
}
.history_wrapper footer {
  position: absolute;
  bottom: 0;
}
/******************로그인1****************/
.login1_logo {
  display: block;
  margin: auto;
}

* {
  padding: 0;
  margin: 0;
}
.login_button {
  cursor: pointer;
}

.loginbox {
  width: 780px;
  height: 550px;
  margin: 50px auto;
}
.loginbox h2 {
  width: 100%;

  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 20px;
  font-weight: normal;
}
.loginbox form {
  width: 100%;
  height: 450px;
  background-color: #fff;
  padding: 60px;
  box-sizing: border-box;
}
.loginbox fieldset {
  border: none;
}
.loginbox legend {
  position: absolute;
  left: -999em;
}
.loginbox label {
  display: block;
  font-size: 12px;
  color: #333;
  margin-bottom: 10px;
}
.loginbox input {
  display: block;
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
  border: none;
  background-color: #ededed;
  padding: 0 20px;
  box-sizing: border-box;
}

.loginbox a {
  color: #333;
  font-size: 12px;
  position: relative;
  top: -2px;
}
.loginbox button {
  display: block;
  width: 220px;
  height: 50px;
  margin: 0 auto; /* 블록요소가 부모 영역에서 가운데 오기 */
  border: none;
  background-color: #1673ea;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

/*******************로그인2****************************/
.login2_logo {
  display: block;
  margin: auto;
  margin-top: 50px;
}

.logWrap button {
  cursor: pointer;
  height: 30px;
}

.logWrap a {
  text-decoration: none;
  color: black;
}
.logWrap {
  margin-left: 620px;
  margin-top: 80px;
}

#log_text {
  width: 300px;
  height: 30px;
  margin-bottom: 20px;
}
/*******************로그인3****************************/
#container_login3 {
  text-align: left;
  width: 80%;
  margin: 0 auto;
}
#content_login3 {
  clear: both;
  width: 80%;
}

#container_login3 input {
  width: 300px;
  height: 30px;
}

#container_login3 input:focus {
  outline-color: #58ccff;
}

#container_login3 textarea:focus {
  outline-color: #58ccff;
}

#container_login3 a {
  text-decoration: none;
  color: black;
}

/*******************로그인4****************************/
.loginbox_4 img {
  display: block;
  margin: auto;
}

button {
  cursor: pointer;
}

.loginbox_4 {
  width: 780px;
  height: 550px;
  margin: 0 auto;
}
.loginbox_4 form {
  width: 100%;
  height: 450px;
  background-color: white;
  padding: 60px;
  box-sizing: border-box;
}
.loginbox_4 fieldset {
  border: none;
}
.loginbox_4 span {
  justify-content: center;
  align-items: center;
  display: flex;
}
.loginbox_4 button {
  display: block;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  border: none;
  background-color: #58ccff;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

/****************로그인5****************************/
.logo_5 {
  display: block;
  margin: auto;
}

button {
  cursor: pointer;
}

.loginbox_5 {
  width: 780px;
  height: 550px;
  margin: 200px auto;
}
.loginbox_5 form {
  width: 100%;
  height: 450px;
  background-color: white;
  padding: 60px;
  box-sizing: border-box;
}
.loginbox_5 fieldset {
  border: none;
}
.loginbox_5 span {
  justify-content: center;
  align-items: center;
  display: flex;
}
.loginbox_5 button {
  display: block;
  width: 110px;
  height: 50px;
  margin: 0 auto;
  border: none;
  background-color: #58ccff;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

/*************로그인6****************/
.error_6 {
  display: block;
  margin: auto;
}
.loginbox_6 button {
  cursor: pointer;
}

.loginbox_6 {
  width: 780px;
  height: 550px;
  margin: 0 auto;
}
.loginbox_6 form {
  width: 100%;
  height: 450px;
  background-color: white;
  padding: 60px;
  box-sizing: border-box;
}
.loginbox_6 fieldset {
  border: none;
}
.loginbox_6 span {
  justify-content: center;
  align-items: center;
  display: flex;
}
.loginbox_6 button {
  display: block;
  width: 110px;
  height: 50px;
  margin: 0 auto;
  border: none;
  background-color: #58ccff;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

/******************real Main ************** */
@keyframes slidy {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

#slider {
  overflow: hidden;
  margin-top: 60px;
  padding-top: 0px;
  width: 100%; /**** 100%에서 수정함 ****/
}
/* 이미지 개수 늘리면 조정해야 할 부분 */
#slider figure img {
  width: 16.6666666667%;
  float: left;
}
#slider figure {
  position: relative;
  width: 600%;
  margin: 0;
  top: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  /* 자동으로 넘어가는 설정*/
  -webkit-animation: 30s slidy ease-in-out infinite;
  animation: 30s slidy ease-in-out infinite;
}

/* object-fit:contain  ---> 가로,세로 비율 유지한채 사이즈 채우는 형식*/
#slider img {
  width: 100%;
  height: 400px;
  object-fit: contain;
}

.real_body_wrapper table {
  margin-left: auto;
  margin-right: auto;
}

.real_body_wrapper img {
  width: 200px;
  height: 200px;
}
.real_body_wrapper {
  margin-top: 10px;
}
/* ************ 게시판 글작성  ************/
* {
  margin: 0 auto;
  padding: 0;
}
#container_postWrite {
  width: 70%;
}

#container_postWrite input:focus {
  outline-color: #58ccff;
}

#container_postWrite textarea:focus {
  outline-color: #58ccff;
}

#container_postWrite form {
  margin-top: 20px;
}

#container_postWrite input {
  border-radius: 4px;
  border: 1px solid #ddd;
  width: 50%;
  height: 30px;
  margin-top: 20px;
  cursor: auto;
}

#container_postWrite textarea {
  border-radius: 4px;
  border: 1px solid #ddd;
  width: 100%;
  height: 300px;
  margin-top: 20px;
  margin-left: 30px;
  cursor: auto;
}

#container_postWrite button {
  background-color: #58ccff;
  border: none;
  color: black;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  float: right;
  margin-top: 20px;
  cursor: pointer;
}

#container_postWrite img {
  margin-top: 10px;
  width: 220px;
  height: 220px;
  cursor: pointer;
}

#container_postWrite input[type="datetime-local"]::-webkit-datetime-edit-text {
  -webkit-appearance: none;
  display: none;
}
#container_postWrite
  input[type="datetime-local"]::-webkit-datetime-edit-month-field {
  -webkit-appearance: none;
  display: none;
}
#container_postWrite
  input[type="datetime-local"]::-webkit-datetime-edit-day-field {
  -webkit-appearance: none;
  display: none;
}
#container_postWrite
  input[type="datetime-local"]::-webkit-datetime-edit-year-field {
  -webkit-appearance: none;
  display: none;
}

#container_postWrite select {
  border-radius: 4px;
  border: 1px solid #ddd;
  width: 50%;
  height: 30px;
  margin-top: 20px;
  cursor: pointer;
}
#main_banner img {
  width: 60%;
  height: 100%;
  object-fit: fill;
}

.write_wrapper {
  position: relative;
  min-height: 100%;
  padding-bottom: 240px;
}
.write_wrapper footer {
  position: absolute;
  bottom: 0;
}
/************* 유저평가 ************/
.rating_main {
  width: 80%;
  height: 300px;
  margin: 0 auto;
  text-align: center;
}

rating {
  width: 80%;
  height: 200px;
  margin: 0 auto;
}

.rating_header {
  width: 80%;
  height: 70px;
  text-align: center;
  margin: 0 auto;
}

.rating_button {
  width: 80%;
  height: 100px;
  clear: left;
  text-align: center;
  margin: 0 auto;
}
#rating_button {
  background-color: #2980b9;
  border: #2980b9;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  width: 150px;
  margin-top: 50px;
}

.rating_check textarea {
  width: 60%;
  height: 6.25em;
  resize: none;
  margin-left: 20%;
}

#check-btn {
  display: none;
}
#check-btn:checked ~ .menubars {
  display: block;
}
.menubars {
  display: none;
}

/************ footer ************/
footer {
  background-color: lightgrey;
  border-top: 1px solid #333;
  width: 100%;
  margin-top: 50px;
  height: 200px;
}
footer .inner {
  padding-top: 0;
}
footer .info {
  margin-top: 20px;
  text-align: center;
}
footer .info span {
  margin-right: 20px;
  color: black;
  font-size: 12px;
}
footer .info span:last-child {
  margin-right: 0;
}
footer .copyright {
  color: black;
  font-size: 12px;
  text-align: center;
  margin-top: 12px;
}
footer .logo {
  display: block;
  margin: auto;
}

html,
body {
  height: 100%;
}
