{% extends 'base.html' %}
{% load static%}
{% block title%}쳇 리스트{% endblock %}
{% load debug_tags %}
{% block content %}
  {% comment %} <div class="small_Menu_chat" style="width: 600px;height: 50px;display: inline-block;">
    <div class="small_Menu_chat1"style="float:left;">소분진행중</div>
    <div class="small_Menu_chat1"style="float:left;">소분완료</div>
  </div> {% endcomment %}
  {% if rooms %}
  <div class="container2">
    {% for room in rooms %}
      <div id="container_chat">
        <div id="content_chat">
         <hr>
          <img src="{% if room.topic.picture %}{{ room.topic.picture.url }}{% else %}{% static 'img/logo.png' %}{% endif %}" alt="" style="width: 90px; height: 90px; margin-top: 15px;">
          <h2 style="font-size: 20px;"><a href="{% url 'chat:room' room.id %}">{{ room.topic_title }}</a></h2>
          <br>
          {% with room.messages.last as last_message %}
            <p style="font-size: 15px;">{{ last_message.content }}</p>
            <p style="font-size: 13px;">{{ last_message.created_at }}</p>
          {% endwith %}
        </div>
      </div>
    {% endfor %}
  </div>
  {% endif %}
  {% if show_debug_data and rooms %}
    <ul>
      {% for room in rooms %}
        <li><a href="{% url 'chat:room' room.id %}">{{ room.id }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
  <p>소분 게시글이 없습니다.</p>
  {% endif %}
{% endblock %}