{% extends 'base.html' %}
{% load static%}
{% block title%}쳇 리스트{% endblock %}
{% load debug_tags %}
{% block content %}
  {% comment %} <div class="small_Menu_chat" style="width: 600px;height: 50px;display: inline-block;">
    <div class="small_Menu_chat1"style="float:left;">소분진행중</div>
    <div class="small_Menu_chat1"style="float:left;">소분완료</div>
  </div> {% endcomment %}
  {% if rooms %}
  <div class="container2">
    {% for room in rooms %}
      <div id="container_chat">
        <div id="content_chat">
         <hr>
          {% if room.topic.user != request.user %}
            {% if room.topic.user.profile.picture %}
              <img src="{{ room.topic.user.profile.picture.url }}" alt="" style="width: 90px; height: 90px; margin-top: 15px;">
            {% else %}
              <img src="{% static 'img/fa-user-circle-o-transparent.png' %}" alt="" style="width: 90px; height: 90px; margin-top: 15px;">
            {% endif %}
            <h2 style="font-size: 20px;"><a href="{% url 'chat:room' room.id %}">{{ room.topic.user.profile.nickname|default_if_none:room.topic.user.username }}</a></h2>
          {% else %}
            {% if room.topic.post.user.profile.picture %}
                <img src="{{ room.topic.post.user.profile.picture.url }}" alt="" style="width: 90px; height: 90px; margin-top: 15px;">
              {% else %}
                <img src="{% static 'img/fa-user-circle-o-transparent.png' %}" alt="" style="width: 90px; height: 90px; margin-top: 15px;">
              {% endif %}
              <h2 style="font-size: 20px;"><a href="{% url 'chat:room' room.id %}">{{ room.topic.post.user.profile.nickname|default_if_none:room.topic.user.username }}</a></h2>
          {% endif %}
          
          <br>
          {% if room.messages.last %}
            {% with room.messages.last as last_message %}
              <p style="font-size: 15px;">{{ last_message.content }}</p>
              <p style="font-size: 13px;">{{ last_message.created_at }}</p>
            {% endwith %}
          {% else %}
            <p style="font-size: 13px;">{{ room.updated_at }}</p>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
  {% endif %}
  {% if show_debug_data and rooms %}
    <ul>
      {% for room in rooms %}
        <li><a href="{% url 'chat:room' room.id %}">{{ room.id }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
  {% endif %}
{% endblock %}