{% extends 'base.html' %}
{% block title%}채팅방{% endblock %}
{% load debug_tags %}
{% block content%}
{% if room %}
  <div class="chatwrap">
    {% if room.topic_type == 2 %}
    <div class="chatProfile" style="height: 90px;">
      {% if room.topic.profile.picture %}
        <div class="profile_icon"><i class="fa-regular"><img style="height:100px"src="{{ room.topic.profile.picture.url }}"></i></div>
      {% else %} 
        <div class="profile_icon"><i class="fa-regular fa-circle-user"></i></div>
      {% endif %}
          <div class="chatName" style="float: left;">
              <h1 style="margin-top: 0px;">{{ room.topic.profile.nickname }}</h1>
              <p style="font-size: 15px; margin-top: 10px;">{{ room.topic.profile.bio }}</p></div>
          
          <div class="trust" style="float:right;">
              <h3 style="font-size: 15px; margin-top:20px; margin-bottom:3px;"> 신뢰도 {{ room.topic.trust_level.level|floatformat:"0" }}% </h3>
              <progress max="100" value="{{ room.topic.trust_level.level|floatformat:"0" }}" style="width: 80px; height: 20px;"></progress>
          </div>

    </div>
    {% elif room.topic_type == 11 %}
    <div class="chatProfile" style="height: 90px;">
      {% if room.topic.user == request.user %}

        {% if room.topic.user.profile.picture %}
          <div class="profile_icon"><i class="fa-regular"><img style="height:100px"src="{{ room.topic.user.profile.picture.url }}"></i></div>
        {% else %} 
          <div class="profile_icon"><i class="fa-regular fa-circle-user"></i></div>
        {% endif %}
          <div class="chatName" style="float: left;">
            <h1 style="margin-top: 0px;">{{ room.topic.user.profile.nickname }}</h1>
            <p style="font-size: 15px; margin-top: 10px;">{{ room.topic.user.profile.bio }}</p></div>
          
          <div class="trust" style="float:right;">
            <h3 style="font-size: 15px; margin-top:20px; margin-bottom:3px;"> 신뢰도 {{ room.topic.user.trust_level.level|floatformat:"0" }}% </h3>
            <progress max="100" value="{{ room.topic.trust_level.level|floatformat:"0" }}" style="width: 80px; height: 20px;"></progress>
          </div>
          {% if room.topic.status != 4 %}
            <div class="finish" style="float:right;">
              <button id="button" type="button" onclick="location.href='{% url 'app:temp_request_chat_complete' sobun_id=room.topic.id chat_id=room.id %}'" style="margin-top:20px; margin-bottom:6px; margin-right:10px">거래 완료</button>
            </div>
          {% else %}
            <div class="finish" style="float:right;">
              <button id="button" type="button" disabled style="margin-top:20px; margin-bottom:6px; margin-right:10px; background-color:lightgray">거래 완료</button>
            </div>
          {% endif %}
          
      {% else %}
        {% if room.topic.post.user.profile.picture %}
          <div class="profile_icon"><i class="fa-regular"><img style="height:100px"src="{{ room.topic.post.user.profile.picture.url }}"></i></div>
        {% else %} 
          <div class="profile_icon"><i class="fa-regular fa-circle-user"></i></div>
        {% endif %}
          <div class="chatName" style="float: left;">
            <h1 style="margin-top: 0px;">{{ room.topic.post.user.profile.nickname }}</h1>
            <p style="font-size: 15px; margin-top: 10px;">{{ room.topic.post.user.profile.bio }}</p></div>

            <div class="trust" style="float:right;">
              <h3 style="font-size: 15px; margin-top:20px; margin-bottom:3px;"> 신뢰도 {{ room.topic.user.trust_level.level|floatformat:"0" }}% </h3>
              <progress max="100" value="{{ room.topic.user.trust_level.level|floatformat:"0" }}" style="width: 80px; height: 20px;"></progress>
            </div>

            {% if room.topic.status != 4 %}
              <div class="finish" style="float:right;">
                <button id="button" type="button" onclick="location.href='{% url 'app:temp_request_chat_complete' sobun_id=room.topic.id chat_id=room.id %}'" style="margin-top:20px; margin-bottom:6px; margin-right:10px">거래 완료</button>
              </div>
            {% else %}
              <div class="finish" style="float:right;">
                <button id="button" type="button" disabled style="margin-top:20px; margin-bottom:6px; margin-right:10px; background-color:lightgray">거래 완료</button>
              </div>
            {% endif %}
      {% endif %}
    </div>
    {% endif %}

    <hr style="border: solid 1px gray; margin-top: 0px" />

    <div class="wrap">
      {% for message in room.messages.all %}
        <div class="chat_ch{% if message.author == request.user %}2{% else %}1{% endif %}">
          <div class="textbox">{{ message.content }}</div>
        </div>
      {% endfor %}
    </div>
    <form method="post" action="{% url 'chat:room' room.id %}">
      {% csrf_token %}
      <div class="chat_write" style="height:30px; background-color:lightgray">
        <div class="chat_send">
            <i class="fa-solid fa-plus" style="font-size: 20px; margin:5px 10px; float:left;"></i>
        </div>
        <div class="chat_send2" style="display: inline-block;">
            <input name="content" id="id_content" type="text" placeholder="텍스트를 입력하세요." class="chat_send_input" style="float: left;">
        </div>
        <div class="chat_send3" style="display:inline-block;" onclick="this.parentNode.parentNode.submit()">
            <i class="fa-regular fa-paper-plane" style="font-size: 15px; float:left; margin-bottom:5px"></i>
        </div>
      <div>
    </form>
  </div>
  {%endif%}
  {% if show_debug_data %}
    {% if room%}
      <ul>
        {% for message in room.messages.all %}  
        <li>
          A message #{{ message.id }} by {{ message.author }}. edited:
          {{message.edited}} / checked status: {{ message.checked_status }}:
          <br />"""{{ message.content }}"""<br />
          {% if message.versions %}
          <br/>{% for v in message.versions.all %}<span>""{{v.content}}"" at {{v.created_at}}</span>{% endfor %}<br />
          {% endif %}
          <form method="post" action="{% url 'chat:edit_message' message.id %}">
            {% csrf_token %}
            <input type="text" name="content" id="id_content" />
            <br />
            <input type="submit" />
          </form>
        </li>
        {% endfor %}
      </ul>
      <form method="post" action="{% url 'chat:room' room.id %}">
        {% csrf_token %}
        <input type="text" name="content" id="id_content" />
        <br />
        <input type="submit" />
      </form>
    {% else %}
      <p>채팅방이 없습니다.</p>
    {% endif %}
  {% endif %}
{% endblock %}
