
{% extends 'base.html' %}
{% block title %}요청{% endblock %}
{% block content%}
{% if debug and requests %}
  <ul>
    {% for request in requests %}
      {% if request.post.user == request.user %}
        <li>
          <a href="{% url 'app:post' request.post.id %}">{{ request.post.title }}</a>,
          From You to {{ request.post.user }}, 
          {{ request.time }} / {{ request.status }}
        </li>
      {% else %}
        <li>
          <a href="{% url 'app:post' request.post.id %}">{{ request.post.title }}</a>,
          From You to {{ request.user }}, 
          {{ request.time }} / {{ request.status }}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}
{% endblock %}