
{% extends 'base.html' %}
{% block title %}요청{% endblock %}
{% block content%}
{% if debug and requests %}
  <ul>
    {% for request in requests %}
      {% if request.post.user == request.user %}
        <li>
          <a href="{% url 'app:request' request.id %}">
            {{ request.post.title }},
            From You to {{ request.post.user }}, 
            {{ request.time }} / {{ request.status }}
          </a>
        </li>
      {% else %}
        <li>
          <a href="{% url 'app:request' request.id %}">
            {{ request.post.title }},
            From You to {{ request.post.user }}, 
            {{ request.time }} / {{ request.status }}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}
{% endblock %}