{% extends 'base.html' %}
{% load static %}
{% block title%}sobun{% endblock %}
{% block content %}
  {% if debug %}
    <p>Post : <a href="{% url 'app:post' request.post.id%}">{{ request.post.title }}</a></p>
    <p>Post User : {{ request.post.user }}</p>
    <p>User : {{ request.user }}</p>
    <p>Time : {{ request.time }}</p>
    <p>Status : {{ request.status }}</p>
    <p>Created at : {{ request.created_at }}</p>
    <p>Updated at : {{ request.updated_at }}</p>

    <a href="{% url 'app:request_edit' request.id %}"><button>Edit</button></a>
    <br>
    {% if request.status == 4 %}
        <a href="{% url 'app:rate_create' request.id %}"><button>Rate</button></a>
    {% endif %}
  {%endif%}
{% endblock %}