{% extends 'base.html' %}
{% block title %}환영합니다{% endblock %}
{% load static %}
{% block content %}
<div id="slider">
  <figure>
    <img src="{% static 'img/promotion1.png' %}" alt="" />
    <img src="{% static 'img/promotion2.png' %}" alt="" />
    <img src="{% static 'img/promotion3.png' %}" alt="" />
    <img src="{% static 'img/promotion4.png' %}" alt="" />
    <img src="{% static 'img/promotion5.png' %}" alt="" />
    <img src="{% static 'img/event.jpg' %}" alt="" />
  </figure>
</div>

<div id="main_banner">
  <div class="banner_1" style="margin-top: 50px; background-color: papayawhip">
    <img src="{% static 'img/mainslide1.png' %}" />
  </div>
  <div class="banner_22" style="background-color: #bfc8d7">
    <img src="{% static 'img/mainslide2.png' %}" style="margin-left: 630px" />
  </div>
  <div class="banner_3" style="background-color: #a2b59f">
    <img src="{% static 'img/mainslide3.png' %}" />
  </div>
</div>
{% include 'footer.html' %}
{% endblock %}
