<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}로딩중{% endblock %} - 소뿐소뿐</title>

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    {% load static %}
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/lib/bootstrap-5.2.3.min.css' %}"
    />
    <script defer src="{% static 'js/lib/bootstrap-5.2.3.min.js' %}"></script>

    <!-- jQuery (WTF?) -->
    <!--script src="{% static 'js/lib/jquery-3.6.3.min.js' %}"></script-->

    <!-- CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />

    <!-- JS -->
    <script defer src="{% static 'js/script.js' %}"></script>
</head>
<body>
  {% block content %}
  {% endblock %}
</body>
</html>