<nav>
  <ul>
    <li class="topnav">
      <div class="topnav_menu"><a href="게시판.html">게시판</a></div>
      <div class="dropdown_content">
        <a href="#">음식</a>
        <a href="#">생활용품</a>
        <a href="#">뷰티/미용</a>
        <a href="#">건강/운동</a>
      </div>
    </li>
    <li class="topnav">
      <div class="topnav_menu"><a href="채팅.html">채팅</a></div>
      <div class="dropdown_content"></div>
    </li>
    <li class="topnav">
      <div class="topnav_menu"><a href="이벤트.html">이벤트</a></div>
      <div class="dropdown_content"></div>
    </li>
    <li class="topnav">
      <div class="topnav_menu"><a href="마이페이지.html">마이페이지</a></div>
    </li>
    <li class="login">
      <div class="login_menu"><a href="./로그인1.html">로그인</a></div>
    </li>
    <li class="login">
      <div class="login_menu"><a href="./로그인2.html">회원가입</a></div>
    </li>
  </ul>
</nav>
