{% load static %}
<a href="{% url 'app:index' %}">
  <img src="{% static 'img/logo.png' %}" alt="My image" class="imag" />
</a>
<nav>
  <ul>
    <li class="topnav">
      <a href="{% url 'app:list' %}"><div class="topnav_menu">게시판</div></a>
    </li>
    <li class="topnav">
      <a href="{% url 'chat:index' %}"><div class="topnav_menu">채팅</div></a>
      <div class="dropdown_content"></div>
    </li>
    <li class="topnav">
      <a href="{% url 'event:index' %}"
        ><div class="topnav_menu">이벤트</div></a
      >
      <div class="dropdown_content"></div>
    </li>
    <li class="topnav">
      <a href="#"><div class="topnav_menu">마이페이지</div></a>
    </li>
    <li class="login">
      <a href="{% url 'common:login' %}"
        ><div class="login_menu">로그인</div></a
      >
    </li>
    <li class="login">
      <a href="{% url 'common:signup' %}"
        ><div class="login_menu">회원가입</div></a
      >
    </li>
  </ul>
</nav>
