{% extends 'base.html' %}
{% load static %}
{% block title%}소분 리스트{% endblock %}
{% block content %}
  <div class="small_Menu_post" style="width: 600px;height: 50px;display: inline-block;">
    <div class="small_Menu_post1"style="float:left;">음식</div>
    <div class="small_Menu_post1"style="float:left;">생활용품</div>
    <div class="small_Menu_post1"style="float:left;">뷰티/미용</div>
    <div class="small_Menu_post1"style="float:left;">건강/운동</div>
  </div>
  <div class="write">
    <button class="w">글쓰기</button>
  </div>      
  <div class="search">
    <input type="text" placeholder="검색어 입력">
    <button class="s">검색</button>
  </div>

  {% if posts %}
  <div class="container1">
    {% for post in posts %}
      <div id="container_post">
        <div id="content_post">
          <hr>
          {% if post.picture %}
            <img src="{{ post.picture.url }}" alt="">
          {% else %}
            <img src="{% static 'img/logo.png' %}" alt="">
          {% endif %}
          <h2 style="font-size: 20px;"><a href="{% url 'app:post' post.id %}">{{ post.title }}</a></h2>
          <p style="font-size: 13px;">{{ post.category }} | {{ post.place }}</p>
          <br>
          <h4 style="font-size: 15px;">{{ post.sobun_price }} / {{ post.sobun_unit }}</h4>
        </div>
      </div>
    {% endfor %}
  </div>

      <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">이전</a>
        </li>
        {% endif %}

        <!-- 다음페이지 -->
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">다음</a>
        </li>
        {% endif %}
    </ul>
  {% else %}
  <p>소분 게시글이 없습니다.</p>
  {% endif %}
{% endblock %}