{% extends 'base.html' %}
{% load static %}
{% load urlparams %}
{% block title%}소분 리스트{% endblock %}
{% block content %}
  <div class="small_Menu_post" style="width: 600px;height: 50px;display: inline-block;">
    {% for category in categories %}
      <div  class="small_Menu_post1"
            onclick="location.href='{% if selected_category == category.name %}{% url 'app:list' %}{% urlparams page=page_obj.number search=searched %}{% else %}{% url 'app:list' %}{% urlparams page=page_obj.number category=category.name search=searched %}{% endif %}'"
            style="float:left;{% if selected_category == category.name %}background-color:skyblue;{% endif %}">{{ category.name }}</div>
    {% endfor %}
  </div>
  <div class="write">
    <a href="{% url 'app:post_create' %}"><button class="w">글쓰기</button></a>
  </div>      
  <div class="search">
    <input id="searchtext" type="text" placeholder="검색어 입력" style="width: 79%; height:93%;" value="{{ searched|default_if_none:'' }}">
    <button class="s" style="width: 20%; height:100%;" onclick="location.href='{% urlparams page=page_obj.number category=selected_category %}&search=' + document.getElementById('searchtext').value">검색</button>
  </div>

  {% if posts %}
  <div class="container1">
    {% for post in posts %}
      <div id="container_post">
        <div id="content_post">
          <hr>
          {% if post.picture %}
            <img src="{{ post.picture.url }}" alt="">
          {% else %}
            <img src="{% static 'img/logo.png' %}" alt="">
          {% endif %}
          <h2 style="font-size: 20px;"><a href="{% url 'app:post' post.id %}">{{ post.title }}</a></h2>
          <p style="font-size: 13px;">{{ post.category }} | {{ post.place }}</p>
          <br>
          <h4 style="font-size: 15px;">{{ post.sobun_price }} / {{ post.sobun_unit }}</h4>
        </div>
      </div>
    {% endfor %}
  </div>

      {% comment %} <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">이전</a>
        </li>
        {% endif %}

        <!-- 다음페이지 -->
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">다음</a>
        </li>
        {% endif %} {% endcomment %}
    </ul>
  {% else %}
  {% comment %} <p>소분 게시글이 없습니다.</p> {% endcomment %}
  {% endif %}
  {% include 'footer.html' %}
{% endblock %}